body 
{
	font-family: 'Noto Serif', serif;
	font-size: 100%;
	text-align: justify;
	color: black;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 600px;
}

a
{
	color: gray;
}

.logo
{
	display: block;
   	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.avsnitt
{
	margin-top: 4em;
	margin-bottom: 6em;
}

.avsnitt_titel
{
	font-size: 1.3em;
	font-style: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.avsnitt_titel_länk
{
	color: #6ba5a1;
}

.avsnitt_info
{
	font-style: italic;
	font-size: 0.8em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.avsnitt_uppspelare 
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.avsnitt_summering 
{
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	margin-top: 1.25em;
	width: 70%;	
}
