body 
{
	color: black;
	font-family: 'Noto Serif', serif;
	font-size: 100%;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
}

a
{
	color: rgb(88,190,154);
	background: transparent;
	border-radius: 0.25em;
}

a:hover
{
	color: white;
	background-color: rgb(88,190,154);
	-webkit-transition: color 0.3s linear, background-color 0.3s linear;
	transition: color 0.3s linear, background-color 0.3s linear;
}

.logo
{
	display: block;
   	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.avsnitt
{
	margin-top: 4em;
	margin-bottom: 6em;
}

.avsnitt_tillbaka
{
	margin-bottom: 1.6em;
}

.avsnitt_titel
{
	font-size: 1.3em;
	font-style: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/*
.avsnitt_titel_länk
{
	font-style: bold;
	text-decoration: none;
	color: rgb(227,127,118);
}
*/

.avsnitt_titel_länk a:link, .avsnitt_titel_länk a:visited
{
	font-style: bold;
	text-decoration: none;
	color: rgb(32,54,23);
}

.avsnitt_titel_länk a:hover {
	color: white;
	background-color: rgb(227,127,118);
	-webkit-transition: color 0.3s linear, background-color 0.3s linear;
	transition: color 0.3s linear, background-color 0.3s linear;
}

.avsnitt_info
{
	font-style: italic;
	font-size: 0.8em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

audio
{
	display: block;
	margin-top: 1em;
	margin-bottom: 1.6em;
	margin-left: auto;
	margin-right: auto;
}

.avsnitt_summering 
{
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	margin-top: 1.25em;
}

@media only screen and (min-device-width: 700px)
{
	body
	{
		max-width: 600px;
		font-size: 100%;
	}
	
	.avsnitt_titel
	{
		width: 70%;			
	}
	
	.avsnitt_info
	{
		width: 70%;	
	}
	
	audio
	{
		width: 70%;	
	}
	
	.avsnitt_summering
	{
		width: 70%;	
	}
}
