body 
{
	font-family: 'Noto Serif', serif;
	font-size: 100%;
	text-align: justify;
	margin: 0;
    	padding: 0;
	color: black;
}

a
{
	color: gray;
}

.logo
{
	display: flex;
  	justify-content: center;
	width: 2em;
}

.avsnitt
{
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}

.avsnitt_titel
{
	font-size: 1.25em;
	font-style: bold;
}

.avsnitt_titel_länk
{
	color: #6ba5a1;
}

.avsnitt_info
{
	font-style: italic;
	font-size: 0.8em;
}

.avsnitt_uppspelare 
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.avsnitt_summering 
{

}
